/* general styles */

html {
    scroll-behavior: smooth; 
}

body {

    background-size: cover;
    background-position: left;
    background-color: #F9F9F9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    color: #000000; 
}


.grayBG {
    position: fixed;
    display: none;
    background-color: gray;
    height: 100%;
    width: 100%;
    opacity: 80%;  
    z-index: 1;
  
  
     
}

main {
    display: flex;
    flex-direction: row;
    z-index: 5;
}

article {
    width: 100%;
    max-width: 900px;
    padding-left: 16px;
    padding-right: 16px;
}

.scrollContentRight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-left: 216px;
}

.homePageLowerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo {
    width: 38px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px;
}

.logoSidebar {
    width: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px;
    padding-bottom: 10px;
}

a {
   text-decoration: none;
   color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000000;   
}

li:hover {
    color: #000000;
}

/* content card */

.contentCard {
    background-color: #F0F0F0;
    padding: 16px;
    padding-bottom: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 2px 2px 4px #DFDFDF;
    border-radius: 8px;
}

.homeContentCard {
    background-color: #F0F0F0;
    width: 80%;
    padding: 16px;
    padding-bottom: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 2px 2px 4px #DFDFDF;
    border-radius: 8px;
}

.iconAndLabel {
    display: flex;
    flex-direction:row;
    padding-bottom: 8px;
}

.cardIcon {
    width: 24px;
    height: 24px;
    padding-right: 12px;
}

/* splash styles */

.heroTopContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top: 60px;
    height: 1000px;
    overflow: hidden;
}

.splashLeftOuterContainer {
    display: flex;
    justify-content: center;
    background-color: #000000;
    width: 50%;
}
.splashLeftTextContainer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    width: 455px;
    padding: 100px;
}

.splashTitleText {
    color:#ffffff;
    font-weight: 500;
    font-size: 52px;
}

.splashTitleSubText {
    color:#ffffff;
    font-weight: 300;
    font-size: 28px;
}

.splashTitleHeadline {
    color:#ffffff;
    padding-top: 28px;
    padding-bottom: 28px;
    font-weight: 300;
    font-size: 24px;
    width: 400px;
}

.seeMyWorkButton {
    border-radius: 8px ;
    padding: 8px 8px;
    background-color: #fff;
    color: 000000;
}

.seeMyWorkButton:hover {
    box-shadow: 2px 2px 8px #575959;
    background-color: #F0F2F2;
}

.heroImageContainer {
    width: 50%;
}

.heroImage{
    width: 100%;  
    
}

   
.keyValueOfferingOuterContainer{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-size: cover; 
    background-position: center;
    
}
.keyValueOfferingContainer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   
}

.homepageQuoteBubble{
   

    background-color: white;
    width: 319px;
    height: 319px;
    background-color: #F7F9F9;
    padding: 20px;
    
    margin: 12px;
    border-radius: 8px;

    
}

/* header styles */

#header {
    transition: top .3s ease-in-out;
    top: 0;  
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 2px 4px #DFDFDF;

    position: fixed;  
    width: 100%;
    z-index: 3;
}

.headerInner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    height: 60px   
}

hr {
    border-top: .5px solid grey;
}

ol {
    font-size: 14px;
    line-height: 2;  
}

ul {
    font-size: 14px;
    line-height: 2;
}

header ul { 
    list-style-type: none;  
    font-size: 14px; 
}

aside ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    font-size: 14px;
}

nav {display: flex;
     flex-direction: row;
    margin: 0px;
    }
.mobileNav { display: none;
             cursor: pointer;
}

.mobileNav:hover {
    box-shadow: 2px 2px 4px #DFDFDF;
    color: #000000;
    } 

.subNav {
    display: none;
    list-style-type: none;
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    padding: 0px;
    margin: 0;
    z-index: -1;
    padding-bottom: 12px;
    padding-top: 60px;
}

.subNavItem {
    margin-left: 8px;
}

.current a {
    color: #000000;
    text-decoration: underline;
    font-weight: 600;
}

li { 
    padding: 4px 8px;       
}

.sideLinks {
    padding: 4px 0px;
    padding-right: 16px;
    margin-left: 0px;
}

.mainNav li {
    margin: 12px;
}

.contactButton a {
    color:white;
}

.contactButton {
    border-radius: 8px ;
    background-color: #000000;
    color: white;
}

.contactButton:hover {
    box-shadow: 2px 2px 4px #DFDFDF;
    color: #fff;
    background-color: #343434;
}

li.contactButton {
    margin-right: 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: baseline;  
}

  /* text styles */ 

  b, strong {
    font-weight: 600;
}

p { 
    line-height: 2;
    font-size: 14px;
    margin-top: 0px;
}

h1 {
  font-size: 38px;
  white-space: nowrap;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;

}

h2 {
    font-size: 22px;
    white-space: nowrap;
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 400;  
}

h3 {
    font-size: 24px !important;
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: 400;
}

h4 {
    font-size: 32px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

h5 {
    font-size: 20px;
    margin: 20px 0px 0px 0px;
    font-weight: 400;
    
}

h6 {
    font-size: 18px;
    margin: 0px;
    font-weight: 400;
}

.cardTitle {
    color: #656565;
}

.heading {
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subHeading {
    display: flex;
    justify-content: center;
}
.caseStudy p {
    font-size: 14px;  
}

/* home page styles */

.mainIcons { height: 22px;}

/* about me page styles */
.heading {
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.aboutMeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:16px
    
}
.aboutMeContent {
    width: 100%;
    max-width: 900px;
    padding-bottom: 20px;

}
.aboutMeImg {
   width: 250px;
   float: right;
   margin: 6px 0px 20px 20px;
   border-radius: 8px;
   box-shadow: 2px 2px 4px #DFDFDF;

}
.aboutMeImgLeft {
    width: 250px;
    float: left;
    margin: 6px 20px 20px 0px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #DFDFDF;

}

/* my work styles*/
.myWorkContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

.myWork {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin: 0px 0px 12px 0px;  
}

.caseStudy {
    background-color: white;
    width: 319px;
    height: 319px;
    text-align: center;
    overflow: hidden;
    margin: 12px;
    box-shadow: 2px 2px 4px #DFDFDF;
    border-radius: 8px;
    transition: all .2s ease-out;
}

.caseStudyPic {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* case study styles for individual pages */

/* carousel */
.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 0;
    
    
    
   
  }

  .carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
  }

  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }

  .carousel-img{
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  .control-btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }

.caseStudyLogos {
    max-width: 320px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outcomesOverOutput_img {
    width: 320px;
    padding-top: 0px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #DFDFDF;


}

.GAPlogo {
    width: 55%;
    margin-bottom: 10px;
}

.caseStudyDoubleImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caseStudyStackedImgContainer {
     display: flex;
     flex-direction: column;
     width: 49%; 
}

.caseStudyThreeImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ThreeImgContainer {
    width: 49%;
}

.caseStudyDoubleImg {
    width: 49%;
}

.doubleImgRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 200px;
}

.doubleRowImg {
    width: 100%;
}

.imgLimit {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.MedImgWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.caseStudyMedImgContainer {
    display: flex;
    justify-content: center;
}

.caseStudyMedImg{
    display: flex;
    justify-content: center;
    width: 70%;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #DFDFDF;

    margin-bottom: 10px;
}

.caseStudyLargeImg {
    width: 100%;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #DFDFDF;

    margin-bottom: 10px;
}

.caseStudySmallImg {
    width: 100%;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #DFDFDF;

    margin-bottom: 10px;
}

.caseStudySmallImgNoBorder {
    width: 100%;
    margin-bottom: 10px;
}





aside {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 70px;
    width: 200px;
    height: 100%;
    background-color: #F0F0F0;
    padding-left: 16px;
    padding-top: 10px;
    z-index: 0;
  }

.textLink {
    text-decoration: underline; 
}

/* footer styles*/

footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 64px;
    width: 100%;
    position: relative;
    z-index: 3;  
}

.footerInner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px; 
    width: 100%;    
}

.copyright {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin-bottom: 2px;  
}

.footerIcons {
    height: 22px;
    padding-left : 16px;
    padding-right: 0px;
   padding-top: 4px;
}

.caseStudy:hover {
    transform: scale(1.03); 
}

/* media queries */ 

@media (max-width: 1600px) {
    .heroTopContainer{height: 800px;}
}

@media (max-width: 1300px) {
    .heroTopContainer{height: 700px;}
}

@media (max-width: 1300px) {
    .heroTopContainer{height: 600px;}
}

@media (max-width: 1000px) {
    .heroTopContainer{height: 500px;}

    .splashLeftTextContainer {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: flex-start;
        padding: 100px;  
    }
    
    .splashTitleText {
       font-size: 36px;
    }
    
    .splashTitleSubText {
        font-size: 24px;
    }
    
    .splashTitleHeadline {
        padding-top: 28px;
        padding-bottom: 28px;
        font-size: 20px;
        width: 300px;
    }  
}

@media (max-width: 780px) {
    .heroTopContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 60px;
        height: 850px;
        overflow: hidden;
    }

    .homeContentCard {
     
        width: 70%;
    
    }
    
    .splashLeftOuterContainer {
        display: flex;
        justify-content: center;
        background-color: #000000;
        width: 100%;
        height: 340px;
    }
    .splashLeftTextContainer {
        padding: 100px;
      width: 320px;
    }
    
    .splashTitleText {
        font-size: 36px;
    }
    
    .splashTitleSubText {
        font-size: 24px;
    }
    
    .splashTitleHeadline {
        color:#ffffff;
        padding-top: 20px;
        padding-bottom: 28px;
        font-weight: 200;
        font-size: 20px;
    }
     
    .heroImageContainer {
        width: 100%;
        
    }
    
    .heroImage{
        width: 100%;
    }

    .keyValueOfferingContainer {
        
        
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
}

@media (max-width: 740px) {

.designIcon {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.designIconWrap {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 8px;
}

.designIconsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

}
@media (max-width: 600px) {

.aboutMeContainer {
    padding-left: 12px;
    padding-right: 12px;   
}

.imgLimit {
    width: 100%;   
}

.caseStudyDoubleImgContainer {
    flex-direction: column;
}

.caseStudyDoubleImg {
    width: 100%;
}

.aboutMeImg {
    width: 49%;
    margin: 5px 0px 10px 16px; 
}

.aboutMeImgLeft {
    width: 49%;
    margin: 5px 16px 10px 0px; 
}

.navCollapse {
    display: none;
} 

.mobileNav { 
    display: flex; 
    border-radius: 8px ;
    border-color: #000000;
    border-style: inset;
    border-width: thin;
    margin: 0px 10px;
    padding: 3px 7px;
    justify-content: center;
    width: 41px;
}

.mainNav {
    padding: 0;  
}

aside {
    display: none;
}

.scrollContentRight {

    margin-left: 0px;
}

article {
    padding-left: 12px;
    padding-right: 12px;
}
.myWorkContainer {
    padding-left: 12px;
    padding-right: 12px;
}
.myWork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   }

.caseStudy {
    width: 100%;
    height: 355px;
    margin: 12px 0px 12px 0px;
}  

.headerInner {
    padding-left: 12px;
    padding-right: 12px; 
}

.footerInner {
    padding-left: 12px;
    padding-right: 12px;     
}
}

@media (max-width: 900px) { 
 
 .caseStudyMedImg{
     width: 100%
}
.carousel-container {
    width: 100%;
   
  }
}